{% extends 'front/base.html' %}

{% block title %}
    {{ text.name}}
{% endblock %}

{% block content %}
    <h1>{{ text.name}}</h1>
    <div>
        <div class="news-title">{{ text.name }} </div>
        <i> автор{{ text.author.name }}</i>
        <i> текст {{ text.text }}</i>
        {% if text.tags.exists %}
            {% for tag in text.tags.all %}
                <a href="{% url 'teg' pk=tag.id%}">{{ tag.tags }}</a>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}
